# Very basic Travis CI (http://travis-ci.org) control file that allows
# some basic Linux-based continuous integration testing (for free).

# We currently support running LiveCode on Ubuntu 14.04 and 16.04
# See https://docs.travis-ci.com/user/ci-environment/
sudo: required
dist: trusty

# Build on both Linux and OSX
os:
  - linux
  - osx

language: c++

# Skip vulcan CI branches
branches:
  only:
    - /^develop.*$/
    - /^release.*$/
    - coverity_scan

# Environment variables
env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "R/JfoBMrkhCGWhfWM1m3gPHuLtMBlp2SIK1R9BaPbRsbGBUJmAg9V0g0YXSaw8SVxoyuiL/jsLtHPfDeub9oTxrYydew+6/4KaoQdG7EGXQJfBhH2f0ag/hTKJfXnmZX9jMMnTxPf5Axjq+w4E6sKkU2+d1oAJRhrqzYNwDhVlc="
   - CXX_STD: "c++11"

# Install any required tools
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then sudo gem install xcpretty ; fi

# Set up the source tree by fetching Linux-specific prebuilt objects
install: 
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then (cd prebuilt && ./fetch-libraries.sh linux) ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx"   ]] ; then (cd prebuilt && ./fetch-libraries.sh mac)   ; fi

# Bootstrap the LCB compiler, build the default target set and run a
# the default test suite.
script: >
  if [ "${COVERITY_SCAN_BRANCH}" != "1" ]; then
    if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then
      make all-linux && make check-linux
    fi
    if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then
      make all-mac && make check-mac
    fi
  fi

addons:
  # Configuration for Coverity Scan integration
  #
  # In order to trigger a scan with Coverity, push to the
  # 'coverity_scan' branch.
  coverity_scan:
    project:
      name: "livecode/livecode"
      description: "Build submitted via Travis CI"
    notification_email: engineteam@livecode.com
    build_command: "make all-linux"
    branch_pattern: coverity_scan

  # Packages needed for building LiveCode
  apt:
    packages:
      - libx11-dev
      - libxext-dev
      - libxrender-dev
      - libxft-dev
      - libxinerama-dev
      - libxv-dev
      - libxcursor-dev
      - libfreetype6-dev
      - libgtk2.0-dev
      - libpopt-dev
      - libesd0-dev
      - liblcms-dev
