// ADD PREDEFINED MACROS HERE!

#define X11
#define TARGET_PLATFORM_LINUX
#define TARGET_PLATFORM_POSIX
#define _LINUX
#define LINUX
#define _LINUX_DESKTOP
#define GTKTHEME
#define HAVE___THREAD
#define MCSSL
#define MODE_DEVELOPMENT
#define FEATURE_PROPERTY_LISTENER
#define FEATURE_MPLAYER
#define PLATFORM_STRING "Linux"
#define _HAS_VSNPRINTF
#define _DEBUG
#undef LEGACY_SYSTEM

// libpcre definitions
#define SUPPORT_PCRE16
#define SUPPORT_UCP
#define SUPPORT_UTF
