// ADD PREDEFINED MACROS HERE!

#define TARGET_PLATFORM_LINUX
#define TARGET_PLATFORM_POSIX
#define _LINUX
#define LINUX
#define _SERVER
#define _LINUX_SERVER
#define __LITTLE_ENDIAN__
#define HAVE___THREAD
#define MCSSL
#define MODE_DEVELOPMENT
#define FEATURE_PROPERTY_LISTENER
#define FEATURE_MPLAYER
#define PLATFORM_STRING "Linux"
#define _HAS_VSNPRINTF
#define _DEBUG
#undef LEGACY_SYSTEM

// libpcre definitions
#define SUPPORT_PCRE16
#define SUPPORT_UCP
#define SUPPORT_UTF
