// ADD PREDEFINED MACROS HERE!

#define TARGET_PLATFORM_POSIX
#define _LINUX
#define __LINUX__
#define _SERVER
#define _LINUX_SERVER
#define __LITTLE_ENDIAN__
#define HAVE___THREAD
#define MCSSL
#define PLATFORM_STRING "Linux"
#define _HAS_VSNPRINTF
#define _DEBUG
#undef LEGACY_SYSTEM

// libpcre definitions
#define SUPPORT_PCRE16
#define SUPPORT_UCP
#define SUPPORT_UTF
