<doc>
	<legacy_id>346</legacy_id>
	<term>plugin</term>
	<definition><p>A custom <object tag="stack">stack</object> which you install in the Plugins folder (inside the LiveCode folder), and which appears in the &quot;Plugins&quot; <glossary tag="cascading menu">submenu</glossary> of the Development menu.</p></definition>
	<categories>
	 	<category>Developing with LiveCode</category>
	</categories>
	<synonyms>
	 	<synonym>plugin</synonym>
	 	<synonym>plugins</synonym>
	 	<synonym>plugin's</synonym>
	 	<synonym>plugins'</synonym>
	 	<synonym>plug-in</synonym>
	 	<synonym>plug-ins</synonym>
	 	<synonym>plug-in's</synonym>
	 	<synonym>plug-ins'</synonym>
	 	<synonym>plugin stack</synonym>
	 	<synonym>plugin stacks</synonym>
	 	<synonym>plugin stack's</synonym>
	 	<synonym>plugin stacks'</synonym>
	 	<synonym>plug-in stack</synonym>
	 	<synonym>plug-in stacks</synonym>
	 	<synonym>plug-in stack's</synonym>
	 	<synonym>plug-in stacks'</synonym>
	</synonyms>
</doc>