<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	${URL_TYPES}
	${REMOTE_NOTIFICATION_TYPES}
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>${BUNDLE_BUILD}</string>
	<key>CFBundleShortVersionString</key>
	<string>${BUNDLE_VERSION}</string>
	<key>CFBundleIconFiles</key>
	<array>
		${BUNDLE_ICONS}
	</array>
	<key>UILaunchImages</key>
	<array>
		${SPLASHSCREENS}
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B411</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>8.1</string>
	<key>DTSDKBuild</key>
	<string>12B411</string>
	<key>DTSDKName</key>
	<string>iphoneos8.1</string>
	<key>DTXcode</key>
	<string>0610</string>
	<key>DTXcodeBuild</key>
	<string>6A1052c</string>
	<key>CFBundleDisplayName</key>
		${BUNDLE_DISPLAY_NAME_SUPPORT}
	<key>MinimumOSVersion</key>
		${MINIMUM_OS_SUPPORT}
	<key>UIDeviceFamily</key>
	<array>
		${DEVICE_SUPPORT}
	</array>
	${DISABLE_ATS}
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		${DEVICE_CAPABILITY}
	</dict>
	<key>UIRequiresPersistentWiFi</key>
		${PERSISTENT_WIFI}
	<key>UIApplicationExitsOnSuspend</key>
		${APPLICATION_EXITS_ON_SUSPEND}
	<key>UIInitialInterfaceOrientation</key>
		${IPHONE_INITIAL_ORIENTATION}
	<key>UISupportedInterfaceOrientations</key>
	<array>
		${IPHONE_SUPPORTED_ORIENTATIONS}
	</array>
	<key>UIInitialInterfaceOrientation~ipad</key>
		${IPAD_INITIAL_ORIENTATION}
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		${IPAD_SUPPORTED_ORIENTATIONS}
	</array>
	<key>UIBackgroundModes</key>
	<array>
		${PLAY_AUDIO_WHEN_IN_BACKGROUND}
		${BACKGROUND_LOCATION_UPDATE}
		${BACKGROUND_VOIP}
		${BACKGROUND_NEWSSTAND_DOWNLOADS}
		${EXTERNAL_ACC_COMM}
		${USE_BT_LE}
		${ACTS_AS_BT_LE}
		${BACKGROUND_FETCH}
		${REMOTE_NOTIFICATIONS}
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	${LOCATION_AUTH_TYPE}
	<key>UIStatusBarHidden</key>
		${STATUS_BAR_HIDDEN}
	<key>UIStatusBarHidden~ipad</key>
		${IPAD_STATUS_BAR_HIDDEN}
	<key>UIStatusBarStyle</key>
		${STATUS_BAR_STYLE}
	<key>com_livecode_StatusBarSolid</key>
		${STATUS_BAR_SOLID}
	<key>com_livecode_UsesLocalNotifications</key>
		${USES_LOCAL_NOTIFICATIONS}
	<key>UIFileSharingEnabled</key>
		${FILE_SHARING}
	<key>UIPrerenderedIcon</key>
		${PRE_RENDERED_ICON}
	<key>UIAppFonts</key>
	<array>
		${CUSTOM_FONTS}
	</array>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This application requires access to Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This application requires access to the device's calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>This application requires access to the device's camera</string>
	<key>NSContactsUsageDescription</key>
	<string>This application requires access to your Contacts</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This application requires access to the device's microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>This application requires access to the device's accelerometer</string>
	<key>NSRemindersUsageDescription</key>
	<string>This application requires access to your Reminders</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This application requires access to Photo Library</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This application requires access to read the user's health data</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This application requires access to update the user's health data</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		${APP_URL_WHITELIST}
	</array>
</dict>
</plist>
