<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>StandaloneDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string></string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>$(BUILD_LONG_VERSION), Copyright 2000-2020 LiveCode Ltd.</string>
	<key>CFBundleIconFile</key>
	<string>Standalone.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.runrev.revolution</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>$(BUILD_LONG_VERSION), Copyright 2000-2020 LiveCode Ltd.</string>
	<key>CFBundleName</key>
	<string>LiveCode</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BUILD_LONG_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>Revo</string>
	<key>CFBundleVersion</key>
	<string>$(BUILD_LONG_VERSION)</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LFPrefersCarbon</key>
	<true/>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSGetAppDiedEvents</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2000-2020, LiveCode Ltd., All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>com_runrev_livecode_MCApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
