<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.runrev.PushNotificationApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.runrev.webme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>webme</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFSupportedRemoteNotificationTypes</key>
	<array>
		<string>CFBadge</string>
		<string>CFSound</string>
		<string>CFAlert</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>NSJavaNeeded</key>
	<string>YES</string>
	<key>NSJavaPath</key>
	<array>
		<string>standalone-mobile.jar</string>
	</array>
	<key>NSJavaRoot</key>
	<string>Contents/Resources/Java</string>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIInitialInterfaceOrientation</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UIInitialInterfaceOrientation~ipad</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application requires access to Location Services when in use</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This application requires access to Location Services always</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This application requires access to Bluetooth always</string>
</dict>
</plist>
