<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.runrev.revandroid">
  <permission android:name="com.runrev.revandroid.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="com.runrev.revandroid.permission.C2D_MESSAGE" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
          
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

   <uses-permission android:name="android.permission.WAKE_LOCK" />


  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.WRITE_CONTACTS" />
  <supports-screens
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"
      android:anyDensity="true" />
  <application android:label="revEngine on Android" android:debuggable="true">
    <activity android:name=".mblandroid"
      android:theme="@android:style/Theme.NoTitleBar"
      android:screenOrientation="portrait"
      android:configChanges="keyboardHidden|orientation"
      android:windowSoftInputMode="stateHidden"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="runrev" />
      </intent-filter>
    </activity>
    <provider
        android:name="com.runrev.android.AppProvider"
        android:authorities="com.runrev.android.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
    </provider>
      
    <activity android:name="com.inneractive.api.ads.InneractiveFullScreenView"></activity>
    
    <service android:name="AppService" />
    
    <receiver android:name="PushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
    	<intent-filter>
    		<action android:name="com.google.android.c2dm.intent.RECEIVE" />
    		<category android:name="com.runrev.revandroid" />
    	</intent-filter>
    	<intent-filter>
    		<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
    		<category android:name="com.runrev.revandroid" />
    	</intent-filter>
    </receiver>
    
    <receiver android:name="AppReceiver">
    	<intent-filter>
    		<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
    		<action android:name="com.android.vending.billing.RESPONSE_CODE" />
    		<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
    	</intent-filter>
    </receiver>
  </application>
</manifest>
