<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
BBEdit Language Module for LiveCode Builder
Put this file in 
   ~/Library/Application\ Support/BBEdit/Language\ Modules
or equivalent.
-->
<plist version="1.0">
	<dict>
		<key>BBEditDocumentType</key>
		<string>CodelessLanguageModule</string>
		<key>com.barebones.DocumentType</key>
		<string>CodelessLanguageModule</string>
		<key>BBLMLanguageDisplayName</key>
		<string>LiveCode Builder</string>
		<key>BBLMLanguageCode</key>
		<string>LCoB</string>
		<key>BBLMColorsSyntax</key>
		<true />
		<key>BBLMScansFunctions</key>
		<true />
		<key>BBLMIsCaseSensitive</key>
		<false />
		<key>BBLMKeywordList</key>
		<array>
			<string>abs</string>
			<string>add</string>
			<string>after</string>
			<string>all</string>
			<string>alpha</string>
			<string>among</string>
			<string>and</string>
			<string>angle</string>
			<string>antialias</string>
			<string>any</string>
			<string>array</string>
			<string>as</string>
			<string>ascending</string>
			<string>ascii</string>
			<string>at</string>
			<string>back</string>
			<string>base</string>
			<string>base64</string>
			<string>before</string>
			<string>begin</string>
			<string>begins</string>
			<string>binary</string>
			<string>binfile</string>
			<string>bitwise</string>
			<string>blend</string>
			<string>blue</string>
			<string>boolean</string>
			<string>bottom</string>
			<string>bounding</string>
			<string>bounds</string>
			<string>box</string>
			<string>button</string>
			<string>by</string>
			<string>byte</string>
			<string>bytes</string>
			<string>canvas</string>
			<string>ceiling</string>
			<string>centered</string>
			<string>char</string>
			<string>chars</string>
			<string>chronological</string>
			<string>circle</string>
			<string>click</string>
			<string>clip</string>
			<string>close</string>
			<string>color</string>
			<string>combine</string>
			<string>command</string>
			<string>compress</string>
			<string>concat</string>
			<string>conical</string>
			<string>contains</string>
			<string>converted</string>
			<string>cos</string>
			<string>crop</string>
			<string>current</string>
			<string>currently</string>
			<string>curve</string>
			<string>data</string>
			<string>decode</string>
			<string>decoded</string>
			<string>descending</string>
			<string>diamond</string>
			<string>dispatch</string>
			<string>distance</string>
			<string>divide</string>
			<string>does</string>
			<string>draw</string>
			<string>element</string>
			<string>elements</string>
			<string>ellipse</string>
			<string>empty</string>
			<string>encode</string>
			<string>encoded</string>
			<string>end</string>
			<string>ends</string>
			<string>exist</string>
			<string>exists</string>
			<string>exp</string>
			<string>file</string>
			<string>fill</string>
			<string>first</string>
			<string>floor</string>
			<string>for</string>
			<string>format</string>
			<string>formatted</string>
			<string>frame</string>
			<string>from</string>
			<string>front</string>
			<string>function</string>
			<string>get</string>
			<string>glow</string>
			<string>gradient</string>
			<string>green</string>
			<string>handled</string>
			<string>head</string>
			<string>height</string>
			<string>high</string>
			<string>identity</string>
			<string>image</string>
			<string>in</string>
			<string>inner</string>
			<string>instructions</string>
			<string>into</string>
			<string>inverse</string>
			<string>is</string>
			<string>item</string>
			<string>items</string>
			<string>key</string>
			<string>keys</string>
			<string>kMCCanvasColorTypeInfo</string>
			<string>kMCCanvasEffectTypeInfo</string>
			<string>kMCCanvasGradientStopTypeInfo</string>
			<string>kMCCanvasGradientTypeInfo</string>
			<string>kMCCanvasImageTypeInfo</string>
			<string>kMCCanvasPaintTypeInfo</string>
			<string>kMCCanvasPathTypeInfo</string>
			<string>kMCCanvasPatternTypeInfo</string>
			<string>kMCCanvasPointTypeInfo</string>
			<string>kMCCanvasRectangleTypeInfo</string>
			<string>kMCCanvasSolidPaintTypeInfo</string>
			<string>kMCCanvasTransformTypeInfo</string>
			<string>kMCCanvasTypeInfo</string>
			<string>kMCEngineScriptObjectTypeInfo</string>
			<string>kMCPressedState</string>
			<string>last</string>
			<string>layer</string>
			<string>left</string>
			<string>line</string>
			<string>linear</string>
			<string>lines</string>
			<string>list</string>
			<string>log</string>
			<string>low</string>
			<string>lower</string>
			<string>map</string>
			<string>matrix</string>
			<string>max</string>
			<string>medium</string>
			<string>message</string>
			<string>metadata</string>
			<string>middle</string>
			<string>min</string>
			<string>mirror</string>
			<string>mod</string>
			<string>mode</string>
			<string>modifier</string>
			<string>mouse</string>
			<string>move</string>
			<string>multiply</string>
			<string>my</string>
			<string>natural</string>
			<string>newline</string>
			<string>not</string>
			<string>number</string>
			<string>numeric</string>
			<string>object</string>
			<string>of</string>
			<string>offset</string>
			<string>on</string>
			<string>only</string>
			<string>onto</string>
			<string>opacity</string>
			<string>open</string>
			<string>or</string>
			<string>order</string>
			<string>outer</string>
			<string>overlay</string>
			<string>paint</string>
			<string>parsed</string>
			<string>path</string>
			<string>pattern</string>
			<string>pi</string>
			<string>pixels</string>
			<string>point</string>
			<string>points</string>
			<string>polygon</string>
			<string>polyline</string>
			<string>pop</string>
			<string>position</string>
			<string>pressed</string>
			<string>primary</string>
			<string>property</string>
			<string>push</string>
			<string>put</string>
			<string>quality</string>
			<string>radial</string>
			<string>radii</string>
			<string>radius</string>
			<string>ramp</string>
			<string>read</string>
			<string>rect</string>
			<string>rectangle</string>
			<string>red</string>
			<string>redraw</string>
			<string>repeat</string>
			<string>replace</string>
			<string>resize</string>
			<string>resolve</string>
			<string>restore</string>
			<string>right</string>
			<string>rotate</string>
			<string>rotated</string>
			<string>rotation</string>
			<string>round</string>
			<string>rounded</string>
			<string>rule</string>
			<string>save</string>
			<string>scale</string>
			<string>scaled</string>
			<string>script</string>
			<string>secondary</string>
			<string>segment</string>
			<string>segments</string>
			<string>set</string>
			<string>shadow</string>
			<string>shifted</string>
			<string>sin</string>
			<string>size</string>
			<string>skew</string>
			<string>solid</string>
			<string>sort</string>
			<string>spiral</string>
			<string>splice</string>
			<string>split</string>
			<string>spread</string>
			<string>sqrtxy</string>
			<string>state</string>
			<string>stippled</string>
			<string>stop</string>
			<string>stream</string>
			<string>string</string>
			<string>stroke</string>
			<string>subpath</string>
			<string>subtract</string>
			<string>tail</string>
			<string>tan</string>
			<string>text</string>
			<string>the</string>
			<string>then</string>
			<string>this</string>
			<string>through</string>
			<string>to</string>
			<string>top</string>
			<string>transform</string>
			<string>transformed</string>
			<string>translate</string>
			<string>translated</string>
			<string>translation</string>
			<string>trunc</string>
			<string>type</string>
			<string>upper</string>
			<string>url</string>
			<string>using</string>
			<string>utf16</string>
			<string>utf32</string>
			<string>utf8</string>
			<string>via</string>
			<string>was</string>
			<string>width</string>
			<string>with</string>
			<string>within</string>
			<string>wrap</string>
			<string>write</string>
			<string>x</string>
			<string>xy</string>
			<string>y</string>
			<string><![CDATA[-]]></string>
			<string><![CDATA[*]]></string>
			<string><![CDATA[/]]></string>
			<string><![CDATA[&]]></string>
			<string><![CDATA[&&]]></string>
			<string><![CDATA[>]]></string>
			<string><![CDATA[>=]]></string>
			<string><![CDATA[<]]></string>
			<string><![CDATA[<=]]></string>
			<string><![CDATA[^]]></string>
			<string><![CDATA[+]]></string>
			<string><![CDATA[=]]></string>

		</array>
		<key>BBLMPredefinedNameList</key>	
		<array>
			<string>variable</string>
			<string>syntax</string>
			<string>begin</string>
			<string>input</string>
			<string>output</string>
			<string>end</string>
			<string>phrase</string>
			<string>operator</string>	
			<string>foreign</string>
			<string>handler</string>
			<string>prefix</string>
			<string>postfix</string>
			<string>precedence</string>	
			<string>statement</string>
			<string>undefined</string>
			<string>public</string>
			<string>neutral</string>
			<string>binds</string>
			<string>any</string>
			<string>bool</string>
			<string>boolean</string>
			<string>data</string>
			<string>int</string>
			<string>number</string>
			<string>string</string>
			<string>list</string>
			<string>map</string>
			<string>optional</string>
			<string>pointer</string>
			<string>real</string>
			<string>double</string>
			<string>float</string>
			<string>private</string>
			<string>if</string>
			<string>else</string>
			<string>then</string>
			<string>repeat</string>
			<string>metadata</string>
			<string>widget</string>
			<string>module</string>
			<string>version</string>
			<string>author</string>
			<string>title</string>
			<string>true</string>
			<string>false</string>
			<string>return</string>
		</array>
		<key>BBLMSuffixMap</key>
		<array>
			<dict>
				<key>BBLMLanguageSuffix</key>
				<string>.lcb</string>
			</dict>
		</array>
		<key>Language Features</key>
		<dict>
			<key>Identifier and Keyword Character Class</key>
			<string><![CDATA[0-9A-Z_a-z\@\=\-\+\*\/\^\&\<\>\?]]></string>
			<key>Comment Pattern</key>
			<string><![CDATA[(?x:
					(//.*?$) |
					(--.*?$) |
					(?s:^\s*\/\*.+?\s*\*\/)
					)
					]]></string>
			<key>String Pattern</key>
			<string><![CDATA[(?x:
					("(\\"|[^"\r]|\\\r)*")
					)
					]]></string>
			<key>Function Pattern</key>
			<string><![CDATA[(?x: 
   				(?P<leadspace>^\s*)
    			(?P<function>
        			syntax\s+
        			(?P<function_name>
        				[a-zA-Z0-9_!?]+
    				)
        			(?s:.+?)
        			\r(?P=leadspace)end\s+syntax\b
    			)
			)]]></string>
			<key>Function Pattern</key>
			<string><![CDATA[(?x: 
   				(?P<leadspace>^\s*)
    			(?P<function>
        			((public\s+)|(private\s+))?handler\s+
        			(?P<function_name>
        				[a-zA-Z0-9_!?]+
    				)
        			(?s:.+?)
        			\r(?P=leadspace)end\s+handler\b
    			)
			)]]></string>
			<key>Skip Pattern</key>
			<string><![CDATA[(?x:
    			(?P>string) |
    			(?P>comment)
			)]]></string>
		</dict>
	</dict>
</plist>
