<doc>
	<legacy_id>392</legacy_id>
	<term>menu</term>
	<definition><p>A list of actions or options that the user can choose from.</p></definition>
	<categories>
	 	<category>Menus</category>
	</categories>
	<synonyms>
	 	<synonym>menu</synonym>
	 	<synonym>menus</synonym>
	 	<synonym>menu's</synonym>
	 	<synonym>menus'</synonym>
	</synonyms>
</doc>