<doc>
	<legacy_id>429</legacy_id>
	<term>server</term>
	<definition><p>A system that provides services to other systems on the same network. For example, a <glossary tag="web server">web server</glossary> provides access to web pages.</p></definition>
	<categories>
	 	<category>Networks &amp; Communication</category>
	</categories>
	<synonyms>
	 	<synonym>servers</synonym>
	 	<synonym>server's</synonym>
	 	<synonym>servers'</synonym>
	 	<synonym>server</synonym>
	</synonyms>
</doc>