#include "../version"

SDKROOT = macosx10.4

OWNER = .
SOLUTION_DIR = $(PROJECT_DIR)/../$(OWNER)
SYMROOT = $(SOLUTION_DIR)/_build/mac
OBJROOT = $(SOLUTION_DIR)/_cache/mac
CONFIGURATION_BUILD_DIR = $(SYMROOT)/$(CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(OBJROOT)/$(CONFIGURATION)
HEADER_SEARCH_PATHS = "$(SOLUTION_DIR)/engine/include" "$(SOLUTION_DIR)/libcore/include" "$(SOLUTION_DIR)/libexternal/include" "$(SOLUTION_DIR)/libexternalv1/include" "$(SOLUTION_DIR)/thirdparty/libz/include" "$(SOLUTION_DIR)/thirdparty/libpng/include" "$(SOLUTION_DIR)/thirdparty/libjpeg/include" "$(SOLUTION_DIR)/thirdparty/libpcre/include" "$(SOLUTION_DIR)/thirdparty/libcairo/src" "$(SOLUTION_DIR)/thirdparty/libsqlite/include" "$(SOLUTION_DIR)/thirdparty/libmysql/include" "$(SOLUTION_DIR)/thirdparty/libgif/include" "$(SOLUTION_DIR)/libgraphics/include" "$(SOLUTION_DIR)/thirdparty/libskia/include/config" "$(SOLUTION_DIR)/thirdparty/libskia/include/core" "$(SOLUTION_DIR)/thirdparty/libskia/include/effects" "$(SOLUTION_DIR)/thirdparty/libpq/include" "$(SOLUTION_DIR)/thirdparty/libiodbc/include" "$(SOLUTION_DIR)/thirdparty/libxml/include" "$(SOLUTION_DIR)/thirdparty/libxslt/include" "$(SOLUTION_DIR)/thirdparty/libzip/include"
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_THREADSAFE_STATICS = NO
SHARED_PRECOMPS_DIR=$(OBJROOT)/Precompiled/$(CURRENT_ARCH)
GLOBAL_GCC_PREPROCESSOR_DEFINITIONS=TARGET_PLATFORM_MACOS_X _MACOSX
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS=NO
ALWAYS_SEARCH_USER_PATHS = NO
MACOSX_DEPLOYMENT_TARGET = 10.4
GCC_VERSION = 4.2
GCC_VERSION[sdk=macosx10.4] = 4.0
